/* Change date title to black */

.aa, ._lvv_42 {
    background: white;
    color: black;
}

/* Highlight unread emails */

.ab, .ms-fwt-sb {
    background: #FFBF79;
}

/* Adjust some other elements back */

.ac, .ms-bgc-tp {
    background: #e74624;
}

.ad, .ms-bgc-td {
    background: #cc3716;
}

.ae, .ms-bcl-nlr {
    background: #f4f4f4;
}

.af, .ms-bcl-nl {
    background: #eaeaea;
}

.ag, .ms-bg-color-themeLight span {
    background-color: #f4b5ab;
}

.ah, .ms-bg-color-neutralLighter span {
    background: #f4f4f4;
}

.ai, .ms-bg-color-neutralLight span {
    background: #eaeaea;
}

/* Date title background */

.aj, .listItemDefaultBackground {
    background: white;
}

/* Agenda background */

.ak, .flexCenterItems {
    background: white;
}


