/* Change date title to black */

._lvv_42 {
    background: white;
    color: black;
}

/* Highlight unread emails */

.ms-fwt-sb {
    background: #FFBF79;
}

/* Adjust some other elements back */

.ms-bgc-tp {
    background: #e74624;   
}

.ms-bcl-nlr{
    background: #f4f4f4;   
}

.ms-bcl-nl{
    background: #eaeaea;   
}

.ms-bg-color-themeLight span {
   background-color: #f4b5ab;
}

.ms-bg-color-neutralLighter span {
    background: #f4f4f4;
}

.ms-bg-color-neutralLight span {
    background: #eaeaea;
}

/* Date title background */

.listItemDefaultBackground {
    background: white;
}

/* Agenda background */

.flexCenterItems {
    background: white;
}

